*.wsout
*.out
*.dat
*.pyc
*.txt
*.bak
*.zip
*.mat
*.pdf
*.png
*.gv
**/__pycache__/**
**/.mypy_cache/**
*.o
*.so
commit.txt
**/venv/**
!requirements.txt
!freeze.txt
AutomateIt/diveintopython.pdf
Discrete/mnist_784_csv.csv
Kaggle/pandas/winemag-data-130k-v2.csv
